body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  outline: none;
}
:root {
  --navbar-height: 70px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  font-size: 18px;
}
.page {
  overflow: auto;
  height: 100vh;
  overflow-x: hidden;
}
h1 {
  font-size: 1.8em;
}
h1, a, img {
  user-select: none;
  -webkit-user-select: none;
}