/* Navbar */

.nav-wrapper {
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.5);
}
.nav-wrapper .navbar {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255); 
    justify-content: space-between;
    height: 100px;
    justify-content: right;
}
.nav-wrapper .navbar .logo {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.nav-wrapper .navbar .logo a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-wrapper .navbar .logo img {
    height: 100%;
}
.nav-wrapper .links {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1em;
    width: 100%;
    padding: 0 30px;
    background: #689dff;
}
.nav-wrapper .links > * {
    color: rgb(255, 255, 255);
    padding: 10px 14px;
    /* transition-duration: 0.3s; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    text-decoration: none;
    /* font-size: 1.1em; */
}
.nav-wrapper .links > *::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
.nav-wrapper .links > * ::before {
    background-color: white;
}
.nav-wrapper .links > *:hover::before {
    transform: scaleX(1);
}
.nav-wrapper .menu-container.open .menu-links {
    transform: translateY(0);
}
.nav-wrapper .menu-links > * {
    color: #2b2b2b;
    text-decoration: none;
    padding: 12px 0;
    transition-duration: 0.3s;
}
.nav-wrapper .menu-links > *:hover {
    background-color: #eeeeee;
}

/* ImageInput */

.image-input {
    margin-bottom: 15px;
}
.dropzone {
    background-color: aliceblue;
    color: rgb(0, 174, 255);
    border: 2px dashed rgb(0, 174, 255);
    border-radius: 5px;
    padding: 10px 0;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
.image-input .preview {
    position: relative;
}
.image-input .preview img {
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0 0 2px 0px rgb(53, 53, 53); */
}
.image-input .preview .delete-image {
    position: absolute;
    top: -2px;
    right: 9px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}
.image-input .preview .delete-image:hover {
    color: rgb(206, 206, 206);
}

/* Check box */

.checkbox-input {
    display: flex;
    align-items: center;
}
.checkbox-input input {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 7px 0;
    font-size: large;
}
.checkbox-input label{
    margin-left: 50px;
}

/* SearchBar */

.search-wrapper {
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 8px #c2c2c2;
    max-width: 350px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-wrapper input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: large;
    outline: none;
    margin-left: 5px;
    padding: 6px 10px;
}
.search-wrapper .search-icon {
    color: royalblue;
}

/* AlertMessage */

.alert-message {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: red;
}
.alert-message p {
    margin: 0;
    margin-left: 10px;
}

/* TableInput */

.table-input {
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    margin-bottom: 15px;
}
.table-input .row {
    display: flex;
    border-bottom: 1px solid #c5c5c5;
}
.table-input .row input {
    border: none;
    margin: 0;
    background-color: transparent;
    font-size: 1rem;
    padding: 16.5px 14px;
}
.table-input :last-child {
    border: none;
}

/* Footer */

.footer .content {
    padding: 40px 30px;
    border-top: rgb(226, 226, 226) 1px solid;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer .content .icon-link {
    color: black;
    border: black 2px solid;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.footer .bottom {
    padding: 20px 30px;
    background-color: rgb(219, 219, 219);
}
.footer .bottom .url {
    font-weight: bold;
}

/* ClimberCard */

a {
    text-decoration: none;
}
.climber-card {
    height: 50px;
    display: flex;
    /* width: 400px; */
    justify-content: end;
    flex-direction: row-reverse;
    border-radius: 100px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
}
.climber-card:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
    transition: 0.3s;
}
.climber-card .image-preview {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100px;
    overflow: hidden;
}
.climber-card .image-preview img {
    height: 100%;
    width: 100%;
}
.climber-card .name {
    padding: 8px 20px;
    color: #2b2b2b;
    font-size: 1.2em;
    width: 200px;
    text-align: right;
}
.climber-card .lead-section {
    padding: 12px 15px;
    color: #ffffff;
    font-weight: 500;
    text-decoration-line: none;
    font-size: 1em;
    background-color: rgb(0, 163, 0);
    width: 110px;
    /* text-align: right; */
}
.climber-card .lead-section.no-lead {
    background-color: rgb(163, 0, 0);
}





